<!DOCTYPE html>
<html lang="fr-fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdonisJS Chat</title>
    @entryPointStyles('chat')
  </head>
  <body>

    @!section('main')

  </body>
  @entryPointScripts('app')
</html>
